    body{

        background-color: #3A4042;


    }    
    
    
    
    
    
    header{
          
            background-color:#62C370 ;
            border-bottom: 6px solid #000;
            padding: 20px 20px;

        }

    nav{

        text-align: right;
        }



    a{
            display: inline-flex;
            align-items: center;
            color:rgb(255, 255, 255);
            font-size: 13px;
            font-family: 'Press Start 2P', sans-serif ;
            font-weight: 500;
            text-decoration: none ;
            margin-right: 30px;
        }



    div{
        display: inline-block;
        width: 100%;
        }

    
        span{
            display: inline-block;
            background-color: #F25A70;
            width: 10px;
            height: 10px;
           margin-right: 10px;
            vertical-align: middle;

        }



 
