.banner{

    background-color: #3A4042;
    background-repeat: no-repeat;
    background-size: 100px;
    height: 800px;
  
    display: block;
    flex-direction: column;
    margin-bottom: 200px;
   
}


.banner .wrapper {

    display: flex;
    flex-direction: column;
    width: 260px;
}

.banner .box {

    margin-bottom: 38px;
    margin-top: 100px;  
    margin-left: 90px;
}



.banner .navigation {
    
    display: flex;
    justify-content:start;
}