.box{
    display: inline-block;
    background-color: #00a6a2;
    width: 630px;
    height:  184px;
    box-shadow: 10px 10px 0px black;
    padding: 42px 44px;
    text-align: center;
}

.box .h1{

    margin-bottom: 30;
    ;
}