.box{
display: inline-block;
text-align: center;
background-color: #F25A70;
width: 630px;
height: 130px;
box-shadow: 10px 10px 0px black;

padding: 18px 44px;

}

.box .h1{

    margin-bottom: 30;
    ;
}