.card-project{
    
    width: 280px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #62C370;
    margin-left: 800px;
    margin-top: 100px;
    box-shadow: 10px 10px 0px black;
}

.card-project.-second{
    
    width: 260px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #fff;
    margin-left: 250px;
    margin-top: -280px;
    box-shadow: 20px 10px 0px black;
}