.logo{

    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    text-shadow: 5px 5px 0px rgb(0, 0, 0);
    color: #F25A70;
    margin-left: 20px;
    margin-bottom   : 20px;
    margin-top: 20px;

}