.main-input{
   font-size: 3opx;
   box-sizing: border-box;
   height: 50px;
    box-shadow: 3px 3px 0px  black; 
    width: 100%;
padding-left: 5px;
padding-right: 5px;

}

.main-input.-textarea{

    height: 320px;
}
.main-input.-button:hover{

    transform: scale(0.9) ;
    opacity: 0.5;
}
.main-input.-button{
    font-family: 'Press Start 2P', sans-serif;
    font-size: large;
    color: #dac049;
    background-color: #00a6a2;
    transition: transform 200ms linear, opacity 200ms ease-out;

}