.section{

   background-color: #00a6a2;
   padding-top:50px ;
   padding-bottom: 100px;
   border-bottom: 0 solid black;
   border-top: 10px solid black;

}


.section.-pri{

   background-color: #fdb177;
   padding-top:50px ;
   padding-bottom: 100px;
   

}

.section.-second{

    background-color: #fdb177;
    padding-top:50px ;
    padding-bottom: 100px;
    
 
 }

 .section.-third{

    background-color: #00a6a2;
    padding-top:50px ;
    padding-bottom: 100px;
    
 


 }

 .section.-four{

    background-color: #3a4043;
    padding-top:50px ;
    padding-bottom: 100px;
    
 


 }

