.section{

   background-color: #00a6a2;
   padding-top:50px ;
   padding-bottom: 100px;
   border-bottom: 0 solid black;
   border-top: 10px solid black;

}


.section.-pri{

   box-sizing: border-box;
   background-image: url(../../assets/thi.jpg);
   background-repeat: no-repeat;
   background-position: left;
   background-size: 100%;
  
   padding-top: 70px;
   padding-bottom: 100px; 
   
   

}

.section.-second{

    background-color: #15346a;
    padding-top:50px ;
    padding-bottom: 100px;
    
 
 }

 .section.-third{

    background-color: #00a6a2;
    padding-top:50px ;
    padding-bottom: 100px;
    
 


 }

 .section.-four{

    background-color: #3a4043;
    padding-top:50px ;
    padding-bottom: 100px;
    
 


 }

