.title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    text-shadow: 5px 5px 0px rgb(0, 0, 0);
    color: #dac049;
    margin-left: 20px;
    margin-bottom   : 20px;
    margin-top: 20px;
}


.title.-second{

color: #dac049;
text-shadow: 5px 5px 0px rgb(0, 0, 0);
text-align: center;


}

.title.-third{

    color: #dac049;
    text-shadow: 5px 5px 0px rgb(0, 0, 0);
    text-align: center;
    text-shadow: none;
    
    }

.title.-four{

        color: #ff4800;
    
       
        
        }
.title.-five{

            color: #1100ff;
        
           
            
            }
 .title.-six{

                color: #ffffff;
            
               
                
                }
.title.-seven{

                    color: #000000;
                    text-shadow: none;
                   
                    
}

.title.-contato{

color: white;
text-align: center;
text-shadow: 4px 4px 0px black;


}
